body {
  font: 14px Verdana, sans-serif;
  height: 1000px;
}

/*** Variant 1 **/
.b-popup_one {
  position: absolute;
  z-index: 200;
  display: none;
  border: 4px solid #33c6f4;
  background: #ffffff;
}
.b-popup_one__wrapper {
  padding: 15px 30px;
}
.b-popup_one__close {
  position: absolute;
  top: 5px;
  right: 10px;
  font: 16px Verdana, sans-serif;
  color: #0d5d76;
  text-decoration: none;
}
.b-popup_one__layout {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.3);
}
